html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a:visited {
  border: none;
  outline: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 540px;
}

.header-balance-bg {
  width: 100%;
  height: 100vh;
  background-image: url('../img/depositphotos_361720584-stock-photo-flat-lay-composition-different-fruits.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-fixed {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 10px;
}
.fixed--green {
  background: #1b8506;
}
.header-g {
  color: white;
}

.header-time {
  color: white;
}

/* ========1 page-image====== */
.first-page-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.box-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-basis: 40%;

  font-size: 2.5rem;
  color: green;
}

.box-balance span {
  font-size: 2.5rem;
  font-style: italic;
  margin-bottom: 5px;
}

.box-balance p {
  letter-spacing: 10px;
  font-size: 3rem;
  font-weight: 300;
}

.box-choose-title {
  text-align: center;
}

.box-choose-title p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.box-choose-title span {
  font-weight: 600;
}

.box-choose-balance {
  text-align: center;
}
.button-total {
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 30px;
}
.balance-choose-button {
  margin-top: 30px;
  width: 100%;
  background: #24db00;
  background: radial-gradient(ellipse at center, #24db00 0%, #38bc00 100%);

  /* width: 100%;
  border: none;
  background: #24db00;
  background: radial-gradient(ellipse at center, #24db00 0%, #38bc00 100%);
  margin-top: 30px;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer; */
}

/* =============2 page-image =====*/
.section-anthropometry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.button-back-anthropometry {
  align-self: start;
  margin-top: 50px;
  color: #1b8506;
  cursor: pointer;
}

.anthropometry-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 40%; */
  width: 100%;
  text-align: center;
}

.anthropometry-title p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.anthropometry-title span {
  font-weight: 400;
}

.box-anthropometry {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  height: 60%;
}

.form-param {
}

.user-icon {
  text-align: left;
  margin-bottom: 20px;
  color: grey;
  transition: 0.9s;
}

.user-icon span {
  margin-left: 10px;
  margin-right: 5px;
  font-weight: bold;
  transition: 0.9s;
}

.user-icon i {
  vertical-align: middle;
  transition: color 0.3s;
}
#inp-man {
  display: none;
}
.user-icon #inp-man:checked + label > * {
  color: #5db5ef;
}
#inp-female {
  display: none;
}
.user-icon #inp-female:checked + label > * {
  color: #5db5ef;
}

.user-icon i:hover,
.user-icon i:hover + span {
  color: #5db5ef;
  cursor: pointer;
}

.input-param {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: none;
  color: grey;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(175, 168, 168);
}

.input-param::placeholder {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}

.button-next {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  background: #24db00;
  background: radial-gradient(ellipse at center, #24db00 0%, #38bc00 100%);
}

.overlay {
  position: fixed;
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.418);
}
.modal-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  background: white;
  padding: 10px;
}
.modal-data p {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
}
.button-form {
  font-size: 1.2rem;
  background: transparent;
  border: none;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(48, 46, 46);
}
.modal-data-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
input[type='date'],
input[type='number'] {
  border: none;
  border-top: 1px solid #1b8506;
  border-bottom: 1px solid #1b8506;
  text-align: center;
  height: 30px;
  color: grey;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* -----modal-data-birthday */

/* -----modal-data height */
.metrics-fut {
  margin-right: auto;
}

/* ----modal-data-weight */
.metrics-funt {
  margin-right: auto;
}

/* 3 ============page-image=== */

.section-totalKkal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.button-back-anthropometry {
}

.totalKkal-title {
  text-align: center;
}

.totalKkal-title p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.totalKkal-title span {
  font-weight: 400;
}

.box-footer-totalKkal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
}
.box-circle-totalKkal {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid#24db00;
  text-align: center;
}
.result-totalKkal {
  width: 100%;
  font-size: 3rem;
}
.box-kkal-wrap span {
  margin-bottom: 10px;
  line-height: 30px;
  color: gray;
  font-size: 1.8rem;
}

/* style for handler js */
.hide {
  display: flex;
}

/* -----index-page  */
.header-index-bg {
  background: grey;
  background-image: linear-gradient(
      to top,
      rgba(68, 62, 62, 0.678),
      rgba(58, 54, 54, 0.623)
    ),
    url('../img/index-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.index--gray {
  background: rgba(128, 128, 128, 0.527);
}
.index-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.box-index-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
  font-size: 2.5rem;
  color: white;
}
.logo {
  width: 70px;
  height: 70px;
  background-color: white;
  -webkit-mask: url('../img/adidas.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left center;
  -webkit-mask-size: 100%;
  mask: url('../img/adidas.svg');
  mask-repeat: no-repeat;
  mask-position: left center;
  mask-size: 100%;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.logo-tille {
  padding-left: 20px;
  border-left: 2px solid white;
}
.logo-tille span {
  display: block;
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 10px;
  letter-spacing: 0.5rem;
}
.logo-tille p {
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.section-index-auth {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.section-index-auth p {
  margin-left: auto;
  margin-top: 20px;
  color: white;
  margin-right: 10px;
}
.section-index-auth .log-in {
  margin-right: auto;
  font-size: 1.6rem;

  font-weight: 900;
  margin-top: 20px;
  color: rgb(17, 81, 200);
}
.button-regist {
  border: none;
  background: white;
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;

  cursor: pointer;
  transition: background, color, 0.5s;
}
.button-regist:hover {
  background: rgb(17, 81, 200);
  color: white;
}
.button-regist:hover .fa-facebook-f {
  color: white;
}
.google-button {
  color: rgb(104, 97, 97);
  width: 100%;
}
.facebook-button {
  color: rgb(17, 81, 200);
  width: 45%;
}
.fa-facebook-f {
  color: rgb(17, 81, 200);
}
.register-button {
  color: rgb(17, 81, 200);
  width: 45%;
}
/* ----- regist page --- */
.regist--blue {
  background: rgb(17, 81, 200);
}

.legend-titile-form {
  margin-top: 30px;
  background: rgb(37, 100, 218);
  width: 100%;
  padding: 20px;
  color: white;
  font-weight: 600;
}
.legend-titile-form a {
  margin-right: 10px;
}
.form-regist {
  padding: 20px;
}
input[name='surname'],
input[name='name'] {
  margin-left: 60px;
  width: 82%;
}
.form-regist label {
  position: relative;
}
.avatar {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.308);
  border-radius: 50%;
}
.avatar i {
  color: grey;
}
/* ========login-page */

.form-login-page {
  padding-top: 30px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.form-login-page .input-param {
  background: transparent;
}
.input-param.font {
  margin-top: 40px;
}
.form-login-page .input-param::placeholder {
  color: rgb(233, 233, 214);
}
.form-login-page .input-param.font::placeholder {
  font-size: 1rem;
}
.button-login {
  background: rgb(17, 81, 200);
}
.form-login-page span {
  color: white;
  margin-top: 10px;
}
